<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home </a> >
    <p> Create a new Course</p>
    <div>

        <h1>Create a new  Course</h1>
        
        <form action="/course" method="post">
            <label for = "coursename">What is the name of the course?</label>
            <input  name="coursename" type="text" placeholder="Enter course name"/>
            <button type="submit">Submit</button>
        </form>

    </div>
</body>
</html>