<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="tags">
    <a href="/" class="tag">Home </a> 
    <p>></p>
    <p class="tag" > Create a new Course</p>
    </div>
    <div class="back">

        <h1>Create a new  Course</h1>
        
        <form action="/course" method="post">
            <label class = "label">What is the name of the course?</label><br><br>
            <input  class=" input" name ="coursename" type="text" placeholder="Enter course name"/>
            <br>
            <button class="button" type="submit">Submit</button>
        </form>

    </div>
</body>
</html>