<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <script src="https://kit.fontawesome.com/4a2054232e.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    
    <a href="/coursecreation"><button  > Create a course </button></a>
    
    

</body>
</html>