<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>"/> 
    <script src="https://kit.fontawesome.com/4a2054232e.js" crossorigin="anonymous"></script>
    
    <title>Home</title>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content")
        function enroll(button){
            
            var coursename = button.getAttribute("data-coursename");
            var author = button.getAttribute("data-author");
            alert("Enrolling to course" + coursename);
            var data = { coursename: coursename,
                    "_csrf": token,
                    author:author
                }
            
            fetch('/enroll', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then((res) =>{
                if(res.ok){
                window.location.reload();
                }
                else {
                    alert("Aleady registered");
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
        }
    </script>
</head>
<body>
    <div style="display: flex; flex-direction: row;">
        
    <h1 width>Welcome <%= username %></h1>
    
    <div class="signout">
    <a href="/passwordform"><button class="signup-button" style="background-color: white; border: none; color: rgb(7, 7, 7); height:40px">Change Password</button></a>  
    <a href="/signout"><button class="signup-button" style="background-color: rgba(235, 44, 44, 0.97); border: none; color: white; height:40px">Signout</button></a>
    </div>
    </div>
    <% if(role=="Educator") {%>
    <%-include('create.ejs') %>
    <% } %>
    <%-include('listcourses.ejs') %>


</body>
</html>