<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 class="heading"> Welcome To Learning Management Application</h1>
    <div style="text-align: center;">
    <h4>Don't have an account</h4>
    <button class="signup-button" href="/signup">Sign up</button>
    <h4>Already Have an account></h4>
    <button class="signup-button" href="/login">Sign in</button>
    </div>
</body>
</html>